.reest
rest_viejo.json
__pycache__
utils.py
/db/restaurantes.json
/Web/node_modules
/Web/Plantilla/build
/Web/Plantilla/node_modules
/Web/Plantilla/package-lock.json
/Web/Plantilla/build
.eslintcache
react.zip